stepfunctions/workflow.asl.json
{
  "Comment": "A Step functions workflow example",
  "StartAt": "Start place order process",
  "States": {
    "Start place order process": {
      "Type": "Pass",
      "Next": "Check order stock"
    },
    "Check order stock": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:eu-west-01:123456789012:function:StockFunction",
        "Payload.$": "$"
      },
      "ResultSelector": {
        "hasStock.$": "$.Payload.stock"
      },
      "ResultPath":"$.results.stock", 
      "Next": "Confirm stock result"
    },
    "Confirm stock result": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.results.stock.hasStock",
          "BooleanEquals": true,
          "Next": "Notify Distributor"
        },
        {
          "Variable": "$.results.stock",
          "BooleanEquals": false,
          "Next": "Stock not available"
        }
      ]
    },
    "Stock not available": {
      "Type": "Fail",
      "Cause": "Order without stock",
      "Error": "NoStockError"
    },
    "Notify Distributor": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:eu-west-01:123456789012:function:EmailFunction",
        "Payload": {
          "orderNumber": "$.id",
          "target":"DISTRIBUTOR"
        }
      },
      "ResultSelector": {
        "distributor.$": "$.Payload.distributorNotification"
      },
      "ResultPath": "$.results.notificaitons",
      "Next": "Place order"
    },
    "Place order": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:eu-west-01:123456789012:function:PlaceOrderFunction",
        "Payload": {
          "Input.$": "$"
        }
      },
      "ResultSelector": {
        "type.$": "$.Payload.type",
        "status.$": "$.Payload.status"
      },
      "ResultPath": "$.results.order",
      "Next": "Notify Customer"
    },
    "Notify Customer": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.results.order.type",
          "StringEquals": "CLOTHES",
          "Next": "Starting customer notifications for clothes"
        },
        {
          "Variable": "$.results.order.type",
          "StringEquals": "VIDEO_GAMES",
          "Next": "Starting customer notifications for video games"
        }
      ]
    },
    "Starting customer notifications for clothes": {
        "Type": "Pass",
        "Next": "Notify customer for an order with Clothes"
    },
    "Notify customer for an order with Clothes": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Send confirmation email",
          "States": {
            "Send confirmation email": {
              "Type": "Pass",
              "Next": "Log email event"
            },
            "Log email event": {
              "Type": "Pass",
              "End": true
            }
          }
        },
        {
          "StartAt": "Send SMS with order tracker",
          "States": {
            "Send SMS with order tracker": {
              "Type": "Pass",
              "Next": "Log SMS event"
            },
            "Log SMS event": {
              "Type": "Pass",
              "End": true
            }
          }
        }
      ],
      "Next": "Update order status"
    },
    "Starting customer notifications for video games": {
        "Type": "Pass",
        "Next": "Send video game order confirmation email"
    },
    "Send video game order confirmation email": {
      "Type": "Pass",
      "Next": "Log video game order confirmation email event"
    },
    "Log video game order confirmation email event": {
        "Type": "Pass",
        "Next": "Send video game key email"
      },
    "Send video game key email": {
        "Type": "Pass",
        "Next": "Log video game key email event"
    },
    "Log video game key email event": {
        "Type": "Pass",
        "Next": "Update order status"
      },
    "Update order status": {
      "Type": "Pass",
      "ResultPath": "$",
      "End": true
    }
  }
}
